@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf');
}

body p:first-of-type {
    font-family: Verdana, sans-serif;
}

body p:nth-of-type(2) {
    font-family: Didot, serif;
}

body p:nth-of-type(3) {
    font-family: monospace;
}

body p:nth-of-type(5) {
    font-family: Ubuntu;
    font-size: 28px;
}

body p:nth-of-type(6) {
    font-family: 'Montserrat', sans-serif;
}


